@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.react-flow {
  width: 70%;
  height: 100%;
  background: #e0e0e0;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.side-panel {
  width: 30%;
  padding: 20px;
  background: #ffffff;
  border-left: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

h1 {
  font-size: 24px;
  color: #ffcb05; /* Pokémon Yellow */
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 18px;
  color: #ff0000; /* Pokémon Red */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 16px;
  color: #000000;
}

img {
  max-width: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-flow__node-default {
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 12px; /* Reduzido para manter as caixas menores */
  color: #000;
  text-align: center;
  padding: 5px; /* Reduzido para manter as caixas menores */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 120px; /* Largura ajustada */
  height: auto; /* Altura automática para ajustar ao conteúdo */
}

.react-flow__edge-smoothstep {
  stroke: #000;
}

.sidebar p {
  margin: 10px 0;
}

.zoom-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoom-controls button {
  background: #ffcb05; /* Pokémon Yellow */
  border: 2px solid #000;
  color: #000;
  font-size: 18px; /* Reduzido para melhor proporção */
  font-weight: bold;
  width: 30px; /* Ajustado para melhor proporção */
  height: 30px; /* Ajustado para melhor proporção */
  border-radius: 8px; /* Ajustado para melhor proporção */
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.zoom-controls button:hover {
  background: #ff0000; /* Pokémon Red */
  color: #fff;
}
